<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" href="../css/<%=style%>" />
</head>

<main>

<header>
    <div class="header">
        <div><a href="http://localhost:3000/" target="_self">My website</a></div>
        <% if (sessionData.sessionID != -1) { %>
            <div><a href="http://localhost:3000/users/<%=sessionData.sessionUser%>" target="_self"><%=sessionData.sessionUser%></a></div>
            <div><button class="btn" id="logoffBtn">Log off</button></div>
        <% } else { %>
            <!-- log on form -->
            <div>
                <input class="input" name="" id="username" type="text" placeholder="username">
                <input class="input" name="" id="password" type="text" placeholder="password">
                <button class="btn" id="loginBtn">Log In</button>
            </div>
            <div><a href="http://localhost:3000/sign-up" target="_self">Sign Up</a></div>
        <% } %>
        <script src="../scripts/login.js "></script>
    </div>
</header>

<body>