<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../css/general.css" />
    <link rel="stylesheet" type="text/css" href="../css/<%=style%>" />
</head>

<body style="background-color: rgba(25,50,100);">



<header>
    <div class="header" style="display:flexbox;flex-direction:row;">
        <a href="http://localhost:3000/" target="_self">My website</a>
        <% if (sessionData.sessionID != -1) { %>
            <a href="http://localhost:3000/users/<%=sessionData.sessionUser%>" target="_self"><%=sessionData.sessionUser%></a>
            <button class="btn" id="logoffBtn">Log off</button>
        <% } else { %>
            <!-- log on form -->
            <input class="input" name="" id="username-h" type="text" placeholder="username">
            <input class="input" name="" id="password-h" type="text" placeholder="password">
            <button class="btn" id="loginHeaderBtn">Log In</button>
            <a style="text-align:right" href="http://localhost:3000/sign-up" target="_self">Sign Up</a>
        <% } %>
    </div>
</header>
<main>

