<%- include ('header') %>

<p>This is my website</p>

<p><a href="http://localhost:3000/userlist" target="_self">See all users</a></p>
<p><a href="http://localhost:3000/sign-up" target="_self">Make an account</a></p>
<p><a href="http://localhost:3000/login" target="_self">Log in</a></p>

<%- include ('footer') %> 