<%- include ('header') %>

<div>
    <h1>Log In</h1>
    Username: <input class="input" name="" id="username" type="text" placeholder="">
    Password: <input class="input" name="" id="password" type="text" placeholder="">
            
    <button class="btn" id="loginBtn">Log In</button>
    <p id="result"></p>
</div>

<%- include ('footer') %> 