<%- include ('header') %>

<div>
    <h1>Make a Post</h1>
    Title: <input class="input" name="" id="title" type="text" placeholder="">
    Body: <textarea class="input" name="" id="body" type="text" placeholder=""></textarea>
            
    <button class="btn" id="postBtn">Post</button>
    <p id="result"></p>
</div>
<script src="./scripts/post.js"></script>

<%- include ('footer') %> 