<%- include ('header') %>

<div class="userList">
    <% userList.forEach(item => { %>
        <div>
            <p><a href="http://localhost:3000/users/<%=item.username%>" target="_self"><%=item.username%></a></p>
        </div>
    <% }) %>
</div>

<%- include ('footer') %> 